.simplrwp--repeater_field { border: 5px solid #EEE; border-bottom: 10px solid #EEE; }
.simplrwp--repeater_field:last-of-type { border-bottom:5px solid #EEE; }
.simplrwp--repeater_add_new { float:right; margin-top:10px !important; }